<main>
  <div class="ctn-d1 d-flex justify-content-center flex-lg-row flex-column gap-5 align-items-center">
    <div class="text-white" style="width: 400px;">
      <h1 class="my-element1">All-in-one Quoting and CRM software</h1>
      <span class="fs-4 my-element2">your one-stop-shop for quotes and lead management.</span>
      <div class="mt-3 d-flex gap-4 justify-content-center align-items-center">
        <button class="btn btn-1 rounded-pill text-white my-element3">Start free 30 days trial!</button>
        <button class="btn rounded-circle my-element4" style="width: 50px; height: 50px; background-color: #fff;">
          <i class="fas fa-play"></i>
        </button>
        <label for="">play me</label>
      </div>
    </div>
    <div class="p-4" style="width: 400px;">
      <img class="w-100" src="assets/img/no-image.png">
    </div>
  </div>
  <div class="text-center my-5 p-4">
    <span style="font-size: 50px; display: block;">Sales Quoting <span style="color: #0e8dea;">Software to Scale Your Business</span></span>
    <span class="fs-4">Osmos is the sales quoting software that will automate the entire process for you. Whit Osmos, you can create, send and follow up on quotes and estimates all day long!</span>
  </div>
  <div class="d-flex text-center justify-content-center flex-column flex-lg-row  gap-4 m-5">
    <div class="col-lg-3 rounded-7 shadow border p-3">
      <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center justify-content-center border rounded-circle" style="width: 80px; height: 80px;">
          <i class="fas fa-chart-pie fs-2"></i>
        </div>
      </div>
      <div class="my-3">
        <h2>Ditch the overloaded spreadsheets</h2>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquid eveniet itaque vero, tempore quod assumenda repudiandae? Maxime velit quae commodi ex nemo inventore nam, aspernatur id sunt. Iste, error.</span>
      </div>
    </div>
    <div class="col-lg-3 rounded-7 shadow border p-3">
      <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center justify-content-center border rounded-circle" style="width: 80px; height: 80px;">
          <i class="fas fa-chart-pie fs-2"></i>
        </div>
      </div>
      <div class="my-3">
        <h2>Ditch the overloaded spreadsheets</h2>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquid eveniet itaque vero, tempore quod assumenda repudiandae? Maxime velit quae commodi ex nemo inventore nam, aspernatur id sunt. Iste, error.</span>
      </div>
    </div>
        <div class="col-lg-3 rounded-7 shadow border p-3">
      <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center justify-content-center border rounded-circle" style="width: 80px; height: 80px;">
          <i class="fas fa-chart-pie fs-2"></i>
        </div>
      </div>
      <div class="my-3">
        <h2>Ditch the overloaded spreadsheets</h2>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquid eveniet itaque vero, tempore quod assumenda repudiandae? Maxime velit quae commodi ex nemo inventore nam, aspernatur id sunt. Iste, error.</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column-reverse flex-lg-row  gap-4 m-5">
    <div>
      <img class="w-100" src="assets/img/no-image.png">
    </div>
    <div class="pt-5">
      <span style="display: block; font-size: 50px;">Get customize quotes and invoices <span style="color: #0e8dea;">easy-to-use interface.</span></span>
      <p>Complete freedom and flexibility to desing your own quotes. In a matter of minutes whit the use of our drag-and-drop functionality</p>
      <div>
        <i class="far fa-circle pe-2"></i>
        <span>Add your logo</span>
      </div>
      <div>
        <i class="far fa-circle pe-2"></i>
        <span>Choose your colors</span>
      </div>
      <div>
        <i class="far fa-circle pe-2"></i>
        <span>Personalize the displayd client and business infomation</span>
      </div>
      <div>
        <i class="far fa-circle pe-2"></i>
        <span>Add images and text</span>
      </div>
      <div>
        <i class="far fa-circle pe-2"></i>
        <span>Customize the item table</span>
      </div>
    </div>
  </div>
  <div class="m-5 text-center d-flex justify-content-center">
    <div style="width: 600px; font-size: 20px; font-weight: bold;">
      <span>you can choose from a wide selection of quotes templates or desing your own with the help of our editor.</span>
    </div>
  </div>
  <div class="d-flex gap-5 m-5 flex-column flex-lg-row">
    <div>
      <span style="font-size: 30px;">A quoting software that automates the <span style="color: #0e8dea;">quoting and invoicing process</span></span>
      <div class="pt-4">
        <p>Send and track quotes with our quoting software. With Osmos, you can:</p>
        <div class="d-flex gap-2 mt-4">
          <i class="fas fa-store"></i>
          <span>Track quote activity such as open and views</span>
        </div>
      </div>
      <div class="d-flex gap-2 mt-4">
        <i class="fas fa-retweet"></i>
        <span>You can now keep tabs on when a client goes from browsing the quote to converting. so you can follow up with them.</span>
      </div>
      <div class="d-flex gap-2 mt-4">
        <i class="fas fa-store"></i>
        <span>The quote dashboard is an overview of your pipeline, which you can use to remove bottlenecks and forecast sales.</span>
      </div>
    </div>
    <div class="d-flex gap-2 align-items-end">
      <div class="rounded-7" style="width: 80px; height: 90px; background-color: lightskyblue;">
        <div class="d-flex justify-content-center pt-2">
          <i class="fas fa-circle fs-2" style="color: rgb(95, 152, 187);"></i>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <span style="font-size: 10px; color: #fff;">Quote</span>
        </div>
      </div>
      <div class="rounded-7" style="width: 80px; height: 90px; background-color: lightsalmon;">
        <div class="d-flex justify-content-center pt-2">
          <i class="fas fa-circle fs-2" style="color: rgb(197, 124, 95);"></i>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <span style="font-size: 10px; color: #fff;">Done Deals</span>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center flex-column-reverse flex-lg-row gap-5 m-5">
    <div>
      <img class="w-100" src="assets/img/no-image.png">
    </div>
    <div class="text-center text-lg-start">
      <span style="font-size: 50px;"><span style="color: #0e8dea;">Manage your customers</span> sales and quotes in one place</span>
      <p>Get your catalog up and running with ease. Our software gives you the flexibility to add products and services one by one or simply upload everything altogether via spreadsheet. ideal for businesses that want to track order items, inventories, and fulfill orders.</p>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
      <div class="d-flex gap-2">
        <i class="fas fa-retweet"></i>
        <span>Add items, images, description, prices, unit, code, and more.</span>
      </div>
    </div>
  </div>
  <div class="text-center m-5">
    <span style="font-size: 40px; display: block;">Other Osmos <span style="color: #0e8dea;">quoting software</span> features include:</span>
    <span style="font-size: 22px;">Tap into our Personalized service to accomplish all your business needs.</span>
  </div>
  <div class="m-5 row">
    <div class="text-center col-lg-3 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-3 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-3 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-3 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-4 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-4 col-6 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
    <div class="text-center col-lg-4 my-5">
      <button class="btn rounded-circle shadow border" style="width: 100px; height: 100px;">
        <i class="fas fa-file-signature fs-1"></i>
      </button>
      <h5>Creating, managing, and following up on leads with Osmos CRM</h5>
    </div>
  </div>
  <div class="text-center pt-4" style="background-color: rgb(0, 153, 255); color: #fff;">
    <span style="font-size: 50px;">How it works?</span>
    <div class="d-flex justify-content-center">
      <div style="width: 500px; font-size: 18px;">
        <p>Osmos is the sales quoting software that will automate the entire process for you. With Osmos, you can create, send and follow up on quotes and estimates all day long!</p>
      </div>
    </div>
    <div class="d-flex justify-content-center p-4">
      <div class="d-flex flex-column flex-lg-row">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item p-1" role="presentation">
            <button class="nav-link active border shadow text-white" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Manage Leads</button>
          </li>
          <li class="nav-item p-1" role="presentation">
            <button class="nav-link border shadow text-white" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Create Quotes</button>
          </li>
          <li class="nav-item p-1" role="presentation">
            <button class="nav-link border w-100 shadow text-white" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Produce Invoices</button>
          </li>
          <li class="nav-item p-1" role="presentation">
            <button class="nav-link border w-100 shadow text-white" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Collect Payments</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content m-3 p-5" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <img class="w-100" src="assets/img/no-image.png">
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <img class="w-100" src="assets/img/no-image.png">
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <img class="w-100" src="assets/img/no-image.png">
      </div>
    </div>
  </div>
  <div class="m-5 text-center">
    <span style="font-size: 35px;">Connect Osmos to your other sales and <span style="color: #0e8dea;">productivity tools</span></span>
    <div class="d-flex m-5 flex-column flex-lg-row">
      <div class="nav flex-column nav-pills px-4 col-lg-6 col-12" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="btn nav-link active men text-start" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <h2>CRM</h2>
          <p>Insightly, Zoho, Hubspot, Salesforce, Microsoft Dynamics, Pipedrive</p>
        </button>
        <button class="btn nav-link men text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <h2>CRM</h2>
          <p>Insightly, Zoho, Hubspot, Salesforce, Microsoft Dynamics, Pipedrive</p>
        </button>
        <button class="btn nav-link men text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <h2>CRM</h2>
          <p>Insightly, Zoho, Hubspot, Salesforce, Microsoft Dynamics, Pipedrive</p>
        </button>
        <button class="btn nav-link men text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <h2>CRM</h2>
          <p>Insightly, Zoho, Hubspot, Salesforce, Microsoft Dynamics, Pipedrive</p>
        </button>
      </div>
      <div class="tab-content col-lg-6 col-12" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <img class="w-100" src="assets/img/no-image.png">
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <img class="w-100" src="assets/img/no-image.png">
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <img class="w-100" src="assets/img/no-image.png">
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <img class="w-100" src="assets/img/no-image.png">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-5" style="background-color: rgb(0, 110, 255);">
    <h2 class="text-white">Successful when you are What are our customer saying?</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner py-5">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column flex-lg-row gap-3">
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column flex-lg-row gap-3">
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column flex-lg-row gap-3">
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
              <div class="text-start p-4 rounded-7 " style="width: 300px; background-color: #fff;">
                <i class="fas fa-quote-left"></i>
                <div>
                  <p>With Osmos I could solve what no the other CRM could, create quotes as fast as clients request them.</p>
                  <span class="d-block">Lina</span>
                  <span class="d-block">Sales Manager</span>
                  <a href="#">bioservicios.co</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="m-5 text-center">
    <span style="font-size: 50px;"><span style="color: #0e8dea;">Trusted by 23,424+</span> companies all over world!</span>
    <div class="my-5 d-flex justify-content-center">
      <div class="d-flex flex-column flex-lg-row gap-3">
        <img src="assets/img/no-image.png" style="width: 300px; height: 100px;">
        <img src="assets/img/no-image.png" style="width: 300px; height: 100px;">
        <img src="assets/img/no-image.png" style="width: 300px; height: 100px;">
        <img src="assets/img/no-image.png" style="width: 300px; height: 100px;">
      </div>
    </div>
  </div>
  <div class="position-fixed bottom-0 rounded-pill m-3 p-2 d-flex align-items-center gap-3" style="background-color: black;">
    <span class=" text-white">Let's talk!</span>
    <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; background-color: #fff;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="navbar">
    <div class="dropdown">
      <button type="button" class="btn-chat" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <div class="dropdown-menu" style="width: 350px;">
        <div class="d-flex gap-4 p-4 text-white" style="background-color: #0e8dea;">
          <i class="fas fa-headset fs-3"></i>
          <span>Osmos Bot</span>
        </div>
        <div style="height: 400px;"></div>
        <div class="d-flex p-3 gap-2 border-top justify-content-between">
          <div class="w-100">
            <input class="w-100" type="text" placeholder="Type a message">
          </div>
          <div class="d-flex gap-2 p-2">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-paperclip"></i>
            <i class="far fa-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
