a {
  text-decoration: none;
  color: #fff;
}
.world {
  color: #fff;
  font-size: 20px;
}
.menu-2 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  margin-left: -40px;
  margin-top: 20px;
}
.menu-2:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 18px;
  margin-left: -18px;
}
.menu-1 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  width: 400px;
  margin-left: -200px;
}
.world:hover + .menu-2 {
  opacity: 1;
  visibility: visible;
}
.indu:hover + .menu-1 {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .menu-2 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
    margin-left: 7px;
    margin-top: 20px;
  }
  .menu-2:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 18px;
    margin-left: -18px;
  }
  .menu-1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
    width: 400px;
    margin-left: -150px;
  }
}
